html, body {
	height: 100%;
	margin: 0;
}

body {
	background-color: rgb(51,51,51);
	color: rgb(210,210,210);
}

.content {
	padding: 0px;
	min-height: 100%;
	margin: 0 auto -60px;
}

img.center {
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

.photos {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	display: block;
}
