html, body {
	height: 100%;
	margin: 0;
}

body {
	background-color: rgb(51,51,51);
	color: rgb(210,210,210);
}

#container {
    width: 780px;
    margin: 20px auto;
}

#preview {
    float: left;
    width: 360px;
    text-align: center;
}

#photos {
    float: left;
    width: 420px;
}

#countLabel {
	margin: 0;
	font-size: 32px;
}
